[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
seaborn = "*"
matplotlib = "*"
streamlit = "*"
pandas = "*"
scikit-learn = "*"
wordcloud = "*"
plotly-express = "*"
htbuilder = "*"
nltk = "*"
textblob = "*"
textblob-fr = "*"
bertopic = "*"
spacy = "*"
streamlit-aggrid = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.7"
