streamlit
pandas
bertopic==0.9.0
streamlit==0.84.1
tensorflow==2.2.0
tensorflow-estimator==2.2.0
tensorflow-hub==0.12.0
tensorflow-text==2.2.1
tokenizers==0.9.3
torch==1.7.0
transformers==3.5.1
wordcloud
