seaborn
matplotlib
streamlit
pandas
flair
click<8
seaborn
streamlit
scikit-learn
wordcloud
plotly-express
htbuilder
nltk
textblob
textblob_fr
bertopic
spacy
protobuf == 3.20
openpyxl
xlrd
streamlit-aggrid
